
main{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
  width: 50%;
  margin-top: 80px;
  gap: 20px;
  padding: 20px;
}
p{
  width: 65%;
  color: #121212;
  line-height: 200%;
  margin: 50px 0px 50px 0px;
}
svg{
  height: 60px;
  margin-left: -8%;
}

#btns{
  display: flex;
  gap: 2px;
  width: 50%;
  flex-wrap: wrap;
}
.btn{
  background-color: #FFF;
  border: 1px solid #378137;
  padding: 8px;
  border-radius: 4px 4px 0px 0px;
  width: 95px;
}
.btn:hover{
  cursor: pointer;
}
#info{
  border: 1px solid #378137;
  height: 700px;
  width: 85%;
  padding: 20px;
}

.content_info{
  display: none;
}

#MenuSanduiche{
  position: fixed;
  top: 235px;
  left: 35px;
  user-select: none;
}

#SvgMenu{
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 3px;
  height: 30px;
}

#SvgMenu span{
  font-size: 18px;
}

#SvgMenu svg {
  width: 25px;
  height: 25px;
}

#Menuaberto {
  list-style: none;
  background-color: #f9f9f9;
  position: absolute;
  top: 25px;
  left: 0;
  width: 200px;
  border-radius: 0 3px 3px 3px;
  padding: 0;
  margin: 0;
  text-align: center;
  /* para animação */
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
  pointer-events: none;
}

#Menuaberto.active {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}

#Menuaberto li a {
  display: block;
  padding: 10px 15px;
  width: 100%;
  text-decoration: none;
  color: #121212;
  box-sizing: border-box;
  text-align: center;
}

#Menuaberto li a:hover {
  background-color: #ddd;
}